{% extends "base.html" %}
{% load static %}

{% block head %}
	<link href="{% get_static_prefix %}css/view.css" type="text/css" rel="stylesheet">
	<script src="{% get_static_prefix %}js/view.js"></script>
{% endblock %}


{% block content %}
	<div class="content" id="tabs-view">
		<div class="ui-widget message">
			<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>Hey!</strong> Sample ui-state-highlight style.</p>
			</div>
		</div>
		<br/>
		<div class="ui-widget error">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
				<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				<strong>Alert:</strong> Sample ui-state-error style.</p>
			</div>
		</div>

		<h1>Livros</h1>
		<div class="block">
			<form class="search">
				<input class="autocomplete" type="text" placeholder="Buscar por título, autor, editora..." title="Buscar" value="" style="width: 210px; display: inline-block;" />
				<input type="submit" class="button" value="buscar" />
			</form>
		</div>
		
		<div class="main_content">
			<div class="accordion">
				<h3>
					<div class="left">
						<b>Livro com titulo 1</b>
						<p class="author">por Autor principal (2012)</p>
					</div>
					<div class="right">
						<div class="tags">
							<span title="Livro comprado" class="ui-icon ui-icon-circle-check"></span>
						</div>
						<div class="buttons"> 
							<button title="Marcar como comprado" class="button"><span class="ui-icon ui-icon-cart"></span></button>
							<button title="Deletar" class="button"><span class="ui-icon ui-icon-trash"></span></button>
						</div>
					</div>
				</h3>
				<div class="info">
					<label>Autores:</label><p>Autor 1, Autor 2, Autor 3</p><br/>
					<label>Editora:</label><p>Moderna</p><br/>
					<label>Edi&ccedil;&atilde;o:</label><p>2</p><br/><br/>
					<label>Sugest&otilde;es:</label><p>3</p><br/><br/>
				</div>
				<h3>
					<div class="left">
						<b>Livro com titulo 2</b>
						<p class="author">por Autor principal (2012)</p>
					</div>
					<div class="right">
						<div class="tags">
							<span title="Livro comprado" class="ui-icon ui-icon-circle-check"></span>
						</div>
						<div class="buttons"> 
							<button title="Marcar como comprado" class="button"><span class="ui-icon ui-icon-cart"></span></button>
							<button title="Deletar" class="button"><span class="ui-icon ui-icon-trash"></span></button>
						</div>
					</div>
				</h3>
				<div class="info">
					<label>Autores:</label><p>Autor 1, Autor 2, Autor 3</p><br/>
					<label>Editora:</label><p>Moderna</p><br/>
					<label>Edi&ccedil;&atilde;o:</label><p>2</p><br/><br/>
				</div>
				<h3>
					<div class="left">
						<b>Livro com titulo 3</b>
						<p class="author">por Autor principal (2012)</p>
					</div>
					<div class="right">
						<div class="tags">
							<span title="Livro comprado" class="ui-icon ui-icon-circle-check"></span>
						</div>
						<div class="buttons"> 
							<button title="Marcar como comprado" class="button"><span class="ui-icon ui-icon-cart"></span></button>
							<button title="Deletar" class="button"><span class="ui-icon ui-icon-trash"></span></button>
						</div>
					</div>
				</h3>
				<div class="info">
					<label>Autores:</label><p>Autor 1, Autor 2, Autor 3</p><br/>
					<label>Editora:</label><p>Moderna</p><br/>
					<label>Edi&ccedil;&atilde;o:</label><p>2</p><br/><br/>
				</div>
			</div>
		</div>
		
		<div class="side_menu">
			<div style="padding: 10px;" class="ui-widget ui-widget-content ui-corner-all">
				<div class="ui-dialog-content ui-widget-content" style="background: none; border: 0;">
					<div>
						<h3>Sugest&otilde;es</h3>
						<div class="navigator">
							<button class="button right"><span class="ui-icon ui-icon-triangle-1-w"></span></button>
							<button class="button left"><span class="ui-icon ui-icon-triangle-1-e"></span></button>
						</div>
						<div class="cleared"/>
					</div>
					<div class="suggestion">
						<span class="name"/>Lais Andrade</span><span class="email">(lsa@cin.ufpe.br)</span><br/>
						<label>Quantidade:</label><p>2</p><br/>
						<label>Comentário:</label><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="suggestion">
						<span class="name"/>Lais Andrade</span><span class="email">(lsa@cin.ufpe.br)</span><br/>
						<label>Quantidade:</label><p>2</p><br/>
						<label>Comentário:</label><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div class="suggestion">
						<span class="name"/>Lais Andrade</span><span class="email">(lsa@cin.ufpe.br)</span><br/>
						<label>Quantidade:</label><p>2</p><br/>
						<label>Comentário:</label><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					<div>
						<div class="navigator">
							<button class="button right"><span class="ui-icon ui-icon-triangle-1-w"></span></button>
							<button class="button left"><span class="ui-icon ui-icon-triangle-1-e"></span></button>
						</div>
						<div class="cleared"/>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
