{% extends "base.html" %}
{% load static %}


{% block head %}
	<script src="{% get_static_prefix %}js/home.js"></script>
{% endblock %}


{% block content %}
	<div class="content" id="tabs-home">
		<h1>Bem vindo!</h1>
		<div class="ui-widget">
			<p>{{ "<br/><br/>Este é o sistema de recomendações de livros para a biblioteca do Centro de Informática da UFPE.<br/><br/>Na aba <em>SUGERIR LIVRO</em> é possível fazer uma nova sugestão.<br/><br/>Em <em>ACOMPANHAR SUGESTÕES</em> é possível acompanha todos os livros que foram sugeridos e os que as sugestões que já foram adquiridas pela biblioteca." }}</p>
		</div>
	</div>
{% endblock %}
