{% extends "base.html" %}
{% load static %}

{% block head %}
	<link href="{% get_static_prefix %}css/suggest.css" type="text/css" rel="stylesheet">
	<script src="{% get_static_prefix %}js/suggest.js"></script>
{% endblock %}


{% block content %}
	<div class="content" id="tabs-sugerir">
		<div class="ui-widget message">
			<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
				<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				<strong>Hey!</strong> Sample ui-state-highlight style.</p>
			</div>
		</div>
		<br/>
		<div class="ui-widget error">
			<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
				<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
				<strong>Alert:</strong> Sample ui-state-error style.</p>
			</div>
		</div>

		<h1>Sugest&atilde;o</h1>
		<div class="ui-widget">
			<form id="suggest-form">
				<div class="block">
					<h2>Sua Informa&ccedil;&atilde;o para Contato</h2>
					<input type="text" placeholder="Nome" title="Informe seu nome" value=""/>
					<input type="text" placeholder="Email" title="Informe seu email" value=""/>
				</div>
				<div class="block">
					<h2>Livro</h2>
					<input type="text" placeholder="T&iacute;tulo" title="Informe o t&iacute;tulo do livro" value=""/>
					
					<div class="authors">
						<input class="author-input" type="text" placeholder="Autor" title="Informe o autor" value="" style="display: inline-block; width: 269px; vertical-align: middle;"/>
						<button class="button add-button" onClick="return add_author();"><span class="ui-icon ui-icon-plusthick"></span></button>
					</div>
					<p class="tip">Informe um autor por vez.</p>
					
					<input type="text" placeholder="Editora" title="Informe a editora" value=""/>
					<input class="small" type="text" placeholder="Ano" title="Informe o ano" value="" style="display: inline-block;"/>
					<input class="small" type="text" placeholder="Edi&ccedil;&atilde;o" title="Informe a edi&ccedil;&atilde;o" value="" style="display: inline-block;"/>
				</div>
				<div class="block">
					<h2>Quantidade Sugerida</h2>
					<span class="ui-spinner ui-widget ui-widget-content ui-corner-all">
						<input class="spinner ui-spinner-input" autocomplete="off" role="spinbutton" value="0" style="width: 100px;"/>
					</span>
				</div>
				<div class="block">
					<h2>Coment&aacute;rio</h2>
					<textarea rows="4" cols="46" placeholder="Seu coment&aacute;rio aqui..." value=""></textarea>
				</div>
				<div class="block">
					<input type="reset" class="button" value="CANCELAR" />
					<input type="submit" class="button" value="SUGERIR" />
				</div>
			</form>
		</div>
	</div>
{% endblock %}
