{% extends "base.html" %}

{% block head %}
	<link href="/css/view.css" type="text/css" rel="stylesheet">
	<script src="/js/view.js"></script>
{% endblock %}


{% block content %}
	<div class="content" id="tabs-view">
		<h1>Livros</h1>
		<div class="block">
			<form class="search" action="{% url biblioteca.views.search %}" method="get">
				<input type="text" placeholder="Buscar por t&iacute;tulo, autor, editora..." title="Buscar" value="{{ q }}" style="width: 210px; display: inline-block;" name="q"/>
				<input type="submit" class="button" value="buscar" />
			</form>
			{% if books %}
			<form id="export_form" class="export" action="{% url biblioteca.views.books %}" method="post">
				<input type="hidden" value="{{ q }}" name="q" />
				<button class="button" title="Exportar como planilha" onClick="return exportButton();"><span class="ui-icon ui-icon-arrowreturnthick-1-s"></span></button>
			</form>
			{% endif %}
		</div>
		
	{% if books %}
		<div class="main_content">
			<div class="accordion">
				{% for book in books %}
					<h3>
						<div class="left">
							<b>{{book.book.title}}</b>
							<p class="author">({{book.book.year}})</p>
						</div>
						<div class="right">
							{% if book.book.purchased %}
								<div class="tags">
									<span title="Livro comprado" class="ui-icon ui-icon-circle-check"></span>
								</div>
							{% endif %}
							{% if request.session.login %}
								<div class="buttons"> 
									<button title="Marcar como comprado" class="button"><span class="ui-icon ui-icon-cart"></span></button>
									<button title="Deletar" class="button"><span class="ui-icon ui-icon-trash"></span></button>
								</div>
							{% endif %}
						</div>
					</h3>
					<div class="info">

					{% for writer in book.writers %}
						<p class="authors">{{w.name}}</p>
					{% endfor %}
	
						<br/>
						<label>Editora:</label><p>{{book.book.publisher}}</p>
						<label>Edi&ccedil;&atilde;o:</label><p>{{book.book.edition}}</p><br/>
						<label>ISBN:</label><p>{{book.book.isbn}}</p><br/>
						
						<div class="suggestions" style="background: none; border: 0;">
							<div class="head" alt="{{book.book.isbn}}">
								<span class="{{book.book.isbn}} ui-icon ui-icon-triangle-1-e"></span>
								<span>Sugest&otilde;es</span>
							</div>
							<div id="{{book.book.isbn}}" style="display:none;">
							{% for suggestion in book.suggestions %}
								<div class="suggestion">
									<p class="name"/>{{ suggestion.name }}</p>
									<p class="email">({{ suggestion.email }})</p><br/>
									<label>Quantidade:</label><p>{{ suggestion.amount }}</p><br/>
									<label>Coment&aacute;rio:</label><p>{{ suggestion.comment }}</p>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>
	{% if book %}
	<div class="main_navigator">
		<button class="button rightmost"><span class="ui-icon ui-icon-seek-prev"></span></button>
		<button class="button right"><span class="ui-icon ui-icon-triangle-1-w"></span></button>
		<span class="page">{% firstof page_num 1 %}</span>
		<button class="button left"><span class="ui-icon ui-icon-triangle-1-e"></span></button>
		<button class="button leftmost"><span class="ui-icon ui-icon-seek-next"></span></button>
	</div>
	{% endif %}
{% endblock %}
