{% extends "base.html" %}

{% block head %}
	<script src="/js/home.js"></script>
{% endblock %}


{% block content %}
	<div class="content" id="tabs-home">
		<h1>Bem vindo!</h1>
		<div class="ui-widget">
			<p>{{ "<br/><br/>Este é o sistema de recomendações de livros para a biblioteca do Centro de Informática da UFPE.<br/><br/>Para realizar uma sugestão de compra, basta acessar <em>SUGERIR LIVRO</em>. <br/><br/>Em <em>ACOMPANHAR SUGESTÕES</em> são exibidos os livros já sugeridos.<br/><br/> Na seção <em>BUSCAR</em> é possível buscar volumes específicos." }}</p>
		</div>
	</div>
{% endblock %}
