{% extends "base.html" %}

{% block head %}
	<link href="/css/view.css" type="text/css" rel="stylesheet">
	<script src="/js/table.js"></script>
{% endblock %}


{% block content %}
{% if books %}
	<div class="content" id="tabs-table">
		<h1>Livros</h1>
		<div class="block">
			<div class="search" >
			</div>
			<div class="export">
				<button class="button" title="Exportar como planilha" onCLick="return exportLink();">
					<span class="ui-icon ui-icon-arrowreturnthick-1-s"></span>
				</button>
			</div>
			<div id="export_dialog" class="dialog" title="Exportar Planilha do Excel">
				<form id="export_form" action="{% url biblioteca.views.table %}" method="post">
					<input type="hidden" value="{{ q }}" name="q" />
					<p>Escolha que informa&ccedil;&otilde;es ser&atilde;o exportadas como colunas na planilha:</p>
				</form>
			</div>
		</div>
		
		<div class="table">
			<div class="table-title">
				<div class="index">
					<span>Item</span>
				</div>
				<div class="qtd">
					<span>Qtd</span>
				</div>
				<div class="author">
					<span>Autor</span>
				</div>
				<div class="title">
					<span>T&iacute;tulo</span>
				</div>
				<div class="editora">
					<span>Editora</span>
				</div>
				<div class="isbn">
					<span>ISBN</span>
				</div>
				<div class="year">
					<span>Edi&ccedil;&atilde;o/Ano</span>
				</div>
				<div class="sug">
					<span>Sugerido por</span>
				</div>
			</div>

	{% for book in books %}
			<div class="table-entry">
				<div class="index">
					<span>{{ forloop.counter }}</span>
				</div>
				<div class="qtd">
					<span>{{ book.total_amount }}</span>
				</div>
				<div class="author">
				{% for writer in book.writers %}
					<span>{{writer.name}}</span>
				{% endfor %}
				</div>
				<div class="title">
					<span>{{book.book.title}}</span>
				</div>
				<div class="editora">
					<span>{{book.book.publisher}}</span>
				</div>
				<div class="isbn">
					<span>{{book.book.isbn}}</span>
				</div>
				<div class="year">
					<span>{{book.book.edition}}/{{book.book.year}}</span>
				</div>
				<div class="sug">
				{% for suggestion in book.suggestions %}
					<span style="font-weight: bold;">{{suggestion.name}}</span>
					<span>{{suggestion.email}}</span>
				{% endfor %}
				</div>
			</div>
	{% endfor %}
		</div>
	</div>
	<div class="main_navigator">
		<button class="button rightmost"><span class="ui-icon ui-icon-seek-prev"></span></button>
		<button class="button right"><span class="ui-icon ui-icon-triangle-1-w"></span></button>
		<span class="page">{% firstof page_num 1 %}</span>
		<button class="button left"><span class="ui-icon ui-icon-triangle-1-e"></span></button>
		<button class="button leftmost"><span class="ui-icon ui-icon-seek-next"></span></button>
	</div>
{% endif %}
{% endblock %}
